
h1 {
    color: brown;
}
.sec1 {
    background-image: url("images/donation8.jpg");
    height: 400px;
    color: aliceblue;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.don {
    margin: 20%;
    text-align: center;
    
}
.x input{
    height: 10px;
    width: 110px;
    color: black;
    background-color: red;
    padding: 20px;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
h4{
    text-align: center;
}
section {
    display: flex;
}
.a input{
    height: 50px;
    width: 50px;
    color: brown;
    background-color: blanchedalmond;
    margin: 50px;
}
.b input{
    height: 50px;
    width: 50px;
    color: royalblue;
    background-color: rgb(238, 34, 78);
    margin: 50px;
}
.c input{
    height: 50px;
    width: 50px;
    color: brown;
    background-color: blanchedalmond;
    margin: 50px;
}
.d input{
    height: 50px;
    width: 50px;
    color: brown;
    background-color: blanchedalmond;
    margin: 50px;
}
.e input{
    height: 50px;
    width: 50px;
    color: brown;
    background-color: blanchedalmond;
    margin: 50px;
}
.y input{
    color: black;
    background-color: red;
    margin: 10px;
    height: 25px;
    width: 110px;
}
.l {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
}
.m {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}
.o {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}
.n input {
    color: black;
    background-color: red;
    padding: 20px;
}
body {
    font-family: 'Poppins', sans-serif;
}
.z input {
    border: 10px;
}
p {
    color: black;
}
.z input{
    color: black;
    background-color: red;
}
footer {
    background-color: black;
}
footer p {
    color: red;
}